

.weeds{
  background-image: url('../assets/bkg_weed_float.png');

  z-index:100;
  pointer-events: none;
}
.jungle{
 // background-image: url('../assets/bkg_weed_float.png');
 background-image: url('../assets/tigerbkg.svg');
  opacity: 0.3;
  position: absolute;
  z-index:1;
  /*background-color: #9d146239;*/

min-height: 100rem;
min-width: 100%;
background-size: cover;
  pointer-events: none;
}
.template{
  margin: 0;
  padding: 0;
  background: rgba(51, 51, 51, 0.305);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1em, rgba(0, 255, 0, 0.041)), color-stop(0.1em, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0.1em, rgba(0, 255, 0, 0.068)), color-stop(0.1em, transparent));
  background-image: linear-gradient(rgba(0, 255, 0, 0.041) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(0, 255, 0, 0.068) 0.1em, transparent 0.1em);
  background-size: 1em 3em;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  min-height: 100% !important;
  min-width: 100% !important;
  text-align: center;
}


.thingreen{
    border:solid 0.5px green;
    padding:10px;
    border-radius:1em;
}
.redneon{
  color:red;
   text-shadow:1px 0px 5px hotpink
}



@keyframes example {
    from {background-color: rgb(179, 255, 0);}
    to {background-color: rgb(21, 55, 0);}
  }
  
  /* The element to apply the animation to */


  /* The element to apply the animation to */
  p{


    position: relative;
    background-color: rgba(170, 255, 0, 0);
    animation-name: example2;
    animation-duration: 1s;
  }
  h1{
    font-size: 5vmax;
  text-shadow: 1px 1px 50px aqua;
    position: relative;


    animation-name: example3;
    animation-duration: 2s;
  }
  @keyframes example2 {
    0%   {background-color:rgba(170, 255, 0, 0); left:30px; top:0px;}
    25%  {background-color:rgb(13, 255, 0); left:0px; top:0px;}
    50%  {background-color:rgba(179, 255, 0, 0.112); left:100px; top:0px;}
    75%  {background-color:green; left:-100px; top:0px;}
    100% {background-color:rgb(40, 7, 33); left:0px; top:0px;}
  }
  @keyframes example3 {
    0%   {background-color:rgba(170, 255, 0, 0); top:30px; left:0px;}
    25%  {background-color:rgb(13, 255, 0); left:0px; top:0px;}

    50%  {background-color:rgba(179, 255, 0, 0); top:100px; left:0px;}
    75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:5px;}
    100% {background-color:rgba(40, 7, 33, 0); left:0px; top:0px;}
  }
  
  


@media only screen and (max-width: 850px){

  .jungle{

  background-color: rgba(200, 255, 0, 0.101);
  //background-size: 600px;
  }
}